@media (min-width: 500px) and (max-width: 646px) {
  .container {
    width: 97%;
  }

  .flex-container {
    font-size: 100%;
    height: min-content;
  }

  .main-section {
    margin: 1rem;
  }

  .about {
    padding: 1rem;
  }

  .btn {
    font-size: 100%;
  }

  .projects-container {
    width: 100%;
    margin: 0;
  }

  .flex-items {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1rem 1rem;
  }

  .flex-items p {
    margin-left: 0.9rem;
  }

  .projects-container img {
    width: 100%;
  }
  .footer-section {
    margin-top: 1rem;
  }
}
